# Django secret key
key.txt
# compiled TS files
partyapp/frontend/static/frontend/main.js.LICENSE.txt
partyapp/frontend/static/frontend/components/HomePage.js
partyapp/frontend/static/frontend/components/CreateRoom.js
partyapp/frontend/static/frontend/components/App.js
partyapp/frontend/static/frontend/main.js
