# secrets
key.txt
partyapp/spotify/credentials.py
# compiled TS files
partyapp/frontend/static/frontend/main.js.LICENSE.txt
partyapp/frontend/static/frontend/*.js
partyapp/frontend/static/frontend/*/*.js
